{% extends 'base.html' %}
{#{% include "navbar.html" %}#}
{% block title %} Detail email {% endblock %}
{% block content %}
    <h2 class="mb-4">Detail email</h2>
    <p>from : {{ email.user }}</p>
    {#    <p>cc : {{ email.cc }}</p>#}
    <p>subject : {{ email.subject }}</p>
    <pre>{{ email.body|safe }}</pre>
    {#    <p>file : {{ email.file }}</p>#}
    {% if email.file %}
        <p class="view-message text-left"><span style="color: #0f1712"></span>
            <a href="{{ email.file.url }}" class="fa fa-paperclip" style="color: #d2447f">File</a></p>
    {% endif %}
    {#    <p>signature : {{ email.signature }}</p>#}
    <p>time : {{ email.timestamp }}
    <div style="display:flex; justify-content: flex-start;">

        {% with re=email.id %}
            <button type="submit" class="btn btn-warning dropdown-toggle"><a
                    href="{% url 'mail_page:reply' re %}">Reply</a>
            </button>
            <button type="submit" class="btn btn-warning dropdown-toggle"><a
                    href="{% url 'mail_page:trash' re %}">Trash</a></button>
            <button type="submit" class="btn btn-warning dropdown-toggle"><a href="{% url 'mail_page:archive' re %}">Archive</a>
            </button>
            <button type="submit" class="btn btn-warning dropdown-toggle"><a href="{% url 'mail_page:forward' re %}">Forward</a>
            </button>
            <div class="btn-group dropright">
                <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    add label
                </button>
                <div class="dropdown-menu">
                    {% for label in labels %}
                        {% with l=label.id %}
                            <a href="{% url 'mail_page:addlabel' re l %}">{{ label.title }}</a>
                        {% endwith %}
                        <br>
                    {% endfor %}
                </div>
            </div>
            </div>

        {% endwith %}
{% endblock %}