{#{% extends 'base.html' %}#}
{#{% block title %}Inbox{% endblock %}#}
{#{% block content %}#}
{#    <h2 class="mb-4">Inbox</h2>#}
{#    {% for email in all_emails %}#}
{#        <a href="{% url 'mail_page:detail' email.id %}">#}
{#            <ul class="message-list">#}
{#                <li class="unread">#}
{#                    <div class="col col-1"><span class="dot"></span>#}
{#                        <div class="checkbox-wrapper">#}
{#                            <input type="checkbox" id="chk1">#}
{#                            <label for="chk1" class="toggle"></label>#}
{#                        </div>#}
{#                        <p class="title">{{ email.user.username }}</p><span#}
{#                                class="star-toggle glyphicon glyphicon-star-empty"></span>#}
{#                    </div>#}
{#                    <div class="col col-2">#}
{#                        <div class="subject">{{ email.subject }}#}
{#                            &nbsp;&ndash;<span class="teaser">{{ email.body|truncatewords:8 }}</span>#}
{#                        </div>#}
{#                        <div class="date">{{ email.timestamp }}</div>#}
{#                    </div>#}
{#                </li>#}
{#            </ul>#}
{#        </a>#}
{#    {% endfor %}#}
{#{% endblock %}#}