<nav id="sidebar">
    <div class="p-4 pt-5">
        <div>{{ username }}</div>
        <a href="" class="img logo rounded-circle mb-5" style=""></a>
        <ul class="list-unstyled components mb-5">
            <li>
                <a href="{% url 'mail_page:compose' %}" class="compose-button">Compose</a>
            </li>
            <li>
                <a href="{% url 'mail_page:home' %}">Inbox<span></span></a>
{#                <a href="{% url 'mail_page:home' %}">Inbox<span> (تعداد)</span></a>#}
            </li>
            <li>
                <a href="{% url 'mail_page:sent' %}">Send box</a>
            </li>
            <li>
                <a href="{% url 'mail_page:draftbox' %}">Drafts</a>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"
                   class="dropdown-toggle">Contacts</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    {#                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"#}
                    {#                   class="dropdown-toggle">Contacts</a>#}
                    {#                <ul class="collapse list-unstyled" id="homeSubmenu">#}
                    <li>
                        <a href="{% url 'mail_page:showcontacts' %}">All contacts</a>
                    </li>
                    <li>
                        <a href="{% url 'mail_page:newcontacts' %}">Add new contacts</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false"
                   class="dropdown-toggle">Labels</a>
                <ul class="collapse list-unstyled" id="pageSubmenu1">
                    <li>
                        <a href="{% url 'mail_page:showlabel' %}">Labels</a>
                    </li>
                    <li>
                        <a href="{% url 'mail_page:newlabel' %}">Add new labels</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false"
                   class="dropdown-toggle">Signature</a>
                <ul class="collapse list-unstyled" id="pageSubmenu2">
                    <li>
                        <a href="{% url 'mail_page:showsignature' %}">Show Signature</a>
                    </li>
                    <li>
                        <a href="{% url 'mail_page:newsignature' %}">New Signature</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="{% url 'mail_page:archivebox' %}">Archive</a>
            </li>
            <li>
                <a href="{% url 'mail_page:trashbox' %}">Trash</a>
            </li>
        </ul>
        <div class="footer">
            <a href="{% url 'logout' %}" target="_blank">Logout</a>
        </div>
    </div>
</nav>